# ignore directory
.vs/
CreateDeviceIdentity/bin/
CreateDeviceIdentity/obj/
ProcessD2CMessage/bin/
ProcessD2CMessage/obj/
SimulatedDevice/bin/
SimulatedDevice/obj/
QueueMsg/bin/
QueueMsg/obj/
DequeueMsg/bin/
DequeueMsg/obj/
SchedulerArmSDKTemplate/bin/
SchedulerArmSDKTemplate/obj/