<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="iot_hub_cnn" value="HostName=eatoniothub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=+5XRVnVw+3cy1AeZugU4r5iCu6j4VVe6OgVVWpz+ukM=" />
      <add key="dev_id" value="50000000-6666-7777-8888-999999999999" />
    </appSettings>
</configuration>